body{
    background-color: rgb(40,40,40);
}
h1{
    color: beige;
    text-align: center;
    padding: 10 px;
}

.barArea{
    text-align: center;
    margin-top: 150px;
}
.bar{
    width: 10px;
    margin: 1px;
    background-color: springgreen;
    display: inline-block;
}
.colorTheBottom{
    border-bottom: 5px solid rgb(255, 0, 102);
}